header {
    width: 100%;
    height: 5.62vw;
    background-color: #fff;
    position: sticky;
    padding-left: 158px;
    padding-right: 100px;
    z-index: 1;
    top: 0;
}
.topheader{
    background-color: black;
    width: 100%;
    height: 2vw;
    color: #eeeeee;
    padding-left: 254px;
    padding-right: 254px;
    z-index: 1;
}
.headerTop{
    font-size: 14px;
    padding-top: 6px;
}
.headerTop:hover{
    color: #f57224 ;
}
.font{
    padding-top: 6px;
    font-size: 35px !important;
}

.btnSearch {
    float: left;
    width: 9%;
    height: 43px;
    padding: 10px;
    background: #f57224 ;
    color: white;
    font-size: 17px;
    border: none;
    /*border-left: none;*/
    cursor: pointer;
}
.btnSell{
    float: left;
    width: 60%;
    padding: 10px;
    background: #f57224 ;
    color: white;
    font-size: 17px;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
.main{
    width: 100%;
    position: relative;
    /*top: 5.6vw;*/
    padding-left: 100px;
    padding-right: 100px;
    /*background-color: #f5f5f5;*/
    background-repeat: no-repeat;
}
.logo{
    height: auto;
    width: 100%;
    position: relative;
    top: 0%;
}

.searchInput{
    height: 44px;
    color: black;
    font-size: 16px;
    padding-left: 15px;
    line-height: 16px;
    width: 100%;
    background-color: #f0f1f1;
    border-radius: 2px;
    border: 1px solid #fff;
}

.mediaCheck{
    font-size: 20px!important;
}

.padding{
    padding: 19px;
    display: flex;
}

.selectCategory{
    height: 44px;
    color: black;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    background-color: #f0f1f1;
    border-radius: 2px;
    border: 1px solid #fff;
}
.slideshow-container {
    /* max-width: 1000px; */
    max-height: 326px;
    position: relative;
    margin: auto;

}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
.mySlides {display: none;}
img {vertical-align: middle;}

.imageSize{ width: 100%; height: 285px; position: absolute; }
.Category{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.checks{
    width: 100%;
    padding-top: 50px;
    margin: 0 auto;
}
.headText{
    /*margin: 12px 24px;*/
    padding: 16px 16px 0;
    font-weight: bold;
    white-space: nowrap;
}
.headTexts{
    /*margin: 12px 24px;*/
    padding: 16px 16px 16px;
    font-weight: bold;
    white-space: nowrap;
}
.categoryDiv{
    width: 90px;
    height: 90px;
    padding: 4px;
    background: gainsboro;
    border-radius: 50%;
    transition: transform .3s ease-out;
    margin-left: 54px;
}

.event {
    transform: scale(1);
    transition: .3s ease-in-out;
}
.cardCheck{
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    box-shadow: 0 6px 6px rgba(0,0,0,0.23);
    /*border-radius: 10px;*/
    width: 231px;
    height: auto;
}
.cardss {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    /* padding: 100px; */
    margin-left: 31px;
    margin-bottom: 13px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid rgba(0, 0, 0, .125);*/
    /*border-radius: .25rem;*/
}
.product{
    width: 225px;
    margin-left: 4px;
    margin-top: 5px;
    height: 188px;
}

.categoryTitle{
    font-size: 1rem;
    color: rgb(97, 106, 107);
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.title{
    font-size: 14px;
    font-weight: 600;
    color: rgb(87, 88, 90);
    padding-left: 6px;
    padding-right: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /*text-align: center;*/
}
.price{
    font-size: 14px;
    color: #f57224;
    font-weight: 500;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 0px;
}
.discount{
    font-size: 13px;
    color: gray;
    /*margin-bottom: 0px;*/
    font-weight: 500;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: line-through;
}
.discountPrecentage{
    font-size: 13px;
    color: gray;
    /*margin-bottom: 0px;*/
    font-weight: 500;
    padding-left: 6px;
    padding-right: 6px;
}
.displayEdit{
    display: flex;
}
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*jssor slider bullet skin 132 css*/
.jssorb132 {position:absolute;}
.jssorb132 .i {position:absolute;cursor:pointer;}
.jssorb132 .i .b {fill:#fff;fill-opacity:0.8;stroke:#000;stroke-width:1600;stroke-miterlimit:10;stroke-opacity:0.7;}
.jssorb132 .i:hover .b {fill:#000;fill-opacity:.7;stroke:#fff;stroke-width:2000;stroke-opacity:0.8;}
.jssorb132 .iav .b {fill:#000;stroke:#fff;stroke-width:2400;fill-opacity:0.8;stroke-opacity:1;}
.jssorb132 .i.idn {opacity:0.3;}

.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

.categoryImage{
    height: 76px;
}
body > footer {
    width: 100%;
    position: absolute;
    /* top: -4.2vw; */
    height: 10vw;
    margin-top: 105px;
    margin-bottom: 0px;
    background-color: black;

}
body > footer > h3:nth-child(1) {
    position: absolute;
    color: white;
    top: 2vw;
    margin: 0vw;
    left: 40vw;
}

body > footer > h3:nth-child(1):hover {
    color: #f57224;
}

body > footer > div:nth-child(2) {
    width: 2vw;
    height: 2vw;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 5vw;
    left: 40vw;
    transition: all 0.3s ease;
}

.grow:hover {
    position: absolute;
    border-top: 0vw;
    background-color: #f57224;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

body > footer > div:nth-child(2) > a > img {
    height: 1.5vw;
    width: 1.5vw;
    margin: auto;
    position: absolute;
    top: 0vw;
    left: 0vw;
    right: 0vw;
    bottom: 0vw;
}

body > footer > div:nth-child(3) {
    width: 2vw;
    height: 2vw;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 5vw;
    left: 43vw;
}

body > footer > div:nth-child(3) > a > img {
    height: 1.5vw;
    width: 1.5vw;
    margin: auto;
    position: absolute;
    top: 0vw;
    left: 0vw;
    right: 0vw;
    bottom: 0vw;
}

body > footer > div:nth-child(4) {
    width: 2vw;
    height: 2vw;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    top: 5vw;
    left: 46vw;
}

body > footer > div:nth-child(4) > a > img {
    height: 1.5vw;
    width: 1.5vw;
    margin: auto;
    position: absolute;
    top: 0vw;
    left: 0vw;
    right: 0vw;
    bottom: 0vw;
}
