@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .topheader{
        display: none;
    }
    .logo {
        display: none;
    }
    .btnSell{
        display: none;
    }
    .searchInput {
        height: 100px;
        color: black;
        font-size: 34px;
        line-height: 16px;
        width: 100%;
        background-color: #f0f1f1;
        border-radius: 2px;
        border: 1px solid #fff;
    }
    .btnSearch {
        float: left;
        width: 24%;
        padding: 10px;
        height: 98px;
        background: #f57224;
        color: white;
        font-size: 17px;
        border: none;
        /* border-left: none; */
        cursor: pointer;
    }
    .font {
        padding-top: 17px;
        font-size: 65px !important;
    }
    header {
        width: 100%;
        height: 12.62vw;
        background-color: #fff;
        position: sticky;
        padding-left: 100px;
        padding-right: 100px;
        z-index: 1;
        top: 0;
    }
    .mediaCheck{
        font-size: 51px !important;
    }
    .main {
        width: 100%;
        position: relative;
        top: 5.6vw;
         padding-left: 0px;
         padding-right: 0px;
        /* background-color: #f5f5f5; */
        background-repeat: no-repeat;
    }
    .categoryDiv {
        width: 193px;
        height: 193px;
        padding: 4px;
        background: gainsboro;
        border-radius: 50%;
        transition: transform .3s ease-out;
        margin-left: 141px;
    }
    .categoryImage{
        height: 176px;
    }
    .headTexts {
        /* margin: 12px 24px; */
        padding: 16px 16px 16px;
        font-weight: bold;
        font-size: 43px;
        white-space: nowrap;
    }
    .categoryTitle {
        /* font-size: 1rem; */
        color: rgb(97, 106, 107);
        text-align: center;
        font-size: 2.5rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        /*margin-left: -170px;*/
        line-height: 2.5;
        letter-spacing: 0.00938em;
    }
    .checks {
        width: 100%;
        padding-top: 82px;
        margin: 0 auto;
    }
    .cardCheck {
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        background-color: #fff;
        box-shadow: 0 6px 6px rgba(0,0,0,0.23);
        /*border-radius: 10px;*/
        width: 457px;
        height: auto;
    }
    .product {
        width: 225px;
        margin-left: 113px;
        margin-top: 5px;
        height: 188px;
    }
    .headText {
        /* margin: 12px 24px; */
        padding: 16px 16px 0;
        font-weight: bold;
        font-size: 43px;
        white-space: nowrap;
    }
    .title {
        font-size: 35px;
        font-weight: 600;
        color: rgb(87, 88, 90);
        padding-left: 6px;
        padding-right: 6px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        /*text-align: center;*/
    }
    .price {
        font-size: 47px;
        color: rgb(97, 106, 107);
        font-weight: 400;
        padding-left: 6px;
        padding-right: 6px;
    }
    body > footer {
        width: 100%;
        position: absolute;
        /* top: -4.2vw; */
        height: 30vw;
        margin-top: 105px;
        margin-bottom: 0px;
        background-color: black;
    }
    body > footer > h3:nth-child(1) {
        position: absolute;
        color: white;
        top: 5vw;
        font-size: 51px;
        margin: 0vw;
        left: 3vw;
    }
    body > footer > div:nth-child(2) {
          width: 8vw;
          height: 8vw;
          background-color: white;
          border-radius: 100%;
          position: absolute;
          top: 13vw;
          left: 3vw;
          transition: all 0.3s ease;
      }
    body > footer > div:nth-child(3) {
        width: 8vw;
        height: 8vw;
        background-color: white;
        border-radius: 100%;
        position: absolute;
        top: 13vw;
        left: 15vw;
        transition: all 0.3s ease;
    }
    body > footer > div:nth-child(4) {
        width: 8vw;
        height: 8vw;
        background-color: white;
        border-radius: 100%;
        position: absolute;
        top: 13vw;
        left: 27vw;
        transition: all 0.3s ease;
    }
    body > footer > div:nth-child(2) > a > img {
        height: 3.5vw;
        width: 4.5vw;
        margin: auto;
        position: absolute;
        top: 0vw;
        left: 0vw;
        right: 0vw;
        bottom: 0vw;
    }
    body > footer > div:nth-child(3) > a > img {
        height: 3.5vw;
        width: 4.5vw;
        margin: auto;
        position: absolute;
        top: 0vw;
        left: 0vw;
        right: 0vw;
        bottom: 0vw;
    }
    body > footer > div:nth-child(4) > a > img {
        height: 3.5vw;
        width: 4.5vw;
        margin: auto;
        position: absolute;
        top: 0vw;
        left: 0vw;
        right: 0vw;
        bottom: 0vw;
    }
    .discount {
        font-size: 25px;
        color: gray;
        /* margin-bottom: 0px; */
        font-weight: 500;
        padding-left: 6px;
        padding-right: 6px;
        text-decoration: line-through;
    }
    .discountPrecentage{
        font-size: 25px;
        color: gray;
        /*margin-bottom: 0px;*/
        font-weight: 500;
        padding-left: 6px;
        padding-right: 6px;
    }
}

@media only screen
and (min-device-width: 480px)
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .topheader{
        display: none;
    }
    .categoryDiv {
        width: 90px;
        height: 90px;
        padding: 4px;
        background: gainsboro;
        border-radius: 50%;
        transition: transform .3s ease-out;
        margin-left: 139px;
    }
    .logo {
        display: none;
    }
    header {
        width: 100%;
        height: 6.62vw;
        background-color: #fff;
        position: sticky;
        padding-left: 158px;
        padding-right: 100px;
        z-index: 1;
        top: 0;
    }
    .btnSell {
        display: none;
    }
}

@media only screen
and (min-device-width: 780px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .topheader{
        display: none;
    }
    .categoryDiv {
        width: 90px;
        height: 90px;
        padding: 4px;
        background: gainsboro;
        border-radius: 50%;
        transition: transform .3s ease-out;
        margin-left: 11px;
    }
    .btnSell {
        float: left;
        width: 100%;
        padding: 10px;
        background: #f57224;
        color: white;
        font-size: 17px;
        border: none;
        font-weight: 700;
        border-radius: 4px;
        cursor: pointer;
    }
    .btnSearch {
        float: left;
        width: 14%;
        height: 43px;
        padding: 10px;
        background: #f57224;
        color: white;
        font-size: 17px;
        border: none;
        /* border-left: none; */
        cursor: pointer;
    }
    .logo {
        height: auto;
        width: 100%;
        position: relative;
        top: 24%;
    }
    header {
        width: 100%;
        height: 6.62vw;
        background-color: #fff;
        position: sticky;
        padding-left: 158px;
        padding-right: 100px;
        z-index: 1;
        top: 0;
    }
}